<p id="notice"><%= notice %></p>

<h1>Ro R Lists</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ro_r_lists.each do |ro_r_list| %>
      <tr>
        <td><%= ro_r_list.title %></td>
        <td><%= ro_r_list.description %></td>
        <td><%= link_to 'Show', ro_r_list %></td>
        <td><%= link_to 'Edit', edit_ro_r_list_path(ro_r_list) %></td>
        <td><%= link_to 'Destroy', ro_r_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ro R List', new_ro_r_list_path %>
